# Default ignored files
/workspace.xml
.idea/
alquileres/__pycache__/
alquileres/templatetags/__pycache__
alquileres/migrations
tp_alquiler_propiedades/__pycache__/
alquileres/templatetags/__pycache__/