<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/alquileres/styles.css">
  <title>Rentals</title>
</head>

<body>
{% extends "alquileres/navBar.html" %}

{% block content %}
<div style="display: flex;">
<ul class="col" style="width:50%;">
<h3 class="font-weight-bold " style="color: white;"> Properties for rent :  </h3>
        {% for property in property_list %}

    <div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4" >
      <img src="{{property.image}}" class="card-img col-md-12" height="150" style="width: 300px;">
    </div>
    <div class="col-md-8">
      <div class="card-body row">
        <div class="col-6">
        <h5 class="card-title">Title: {{property.title}}</h5>
        <p class="card-text">Description: {{property.description}}</p>
        <p class="card-text">Address: {{property.address}}</p>
        </div>
        <div class="col-5">
          <p class="text-right">Max Pax: {{property.max_pax}}</p>
          <p class="text-right">City: {{property.city}}</p>
           <p class="text-right" ><a href="/property/{{ property.id }}/">View Property</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</ul>

  <ul class="col" style="width:50%;">
    <h1 style="color: white; font-weight: bold;"> <br>Go on vacation , <br> you've worked enough!</h1>
  </ul>
  </div>
{% endblock %}
</body>