<header>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<nav class="row navbar navbar-expand-lg navbar-dark bg-dark">
  <a class=" col-9 navbar-brand font-weight-bold" href="../../">Rentals</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <form class="form-inline my-2 my-lg-2 col-3">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav></header>
{% block content %}

{% endblock %}
