<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/alquileres/styles.css">
    <title>View Property</title>
</head>
<body>
{% extends "alquileres/navBar.html" %}

{% block content %}
{{ reservationForm.media }} {# Adds date-picker required JS and CSS of the reservation forms #}
<div class="section-container">
    <section class="property-section">
        <div class="card mb-3">
          <img src="{{property.image}}" class="card-img-top" alt="...">
          <div class="card-body row">
            <div class="col-6">
                <h5 class="card-title">Title: {{property.title}}</h5>
                <p class="card-text">Description: {{property.description}}</p>
                <p class="card-text">Max Pax: {{property.max_pax}}</p>
            </div>
             <div class="col-6">
                <p class="text-right">Address: {{property.address}}</p>
                <p class="text-right">City: {{property.city}}</p>
                <p class="text-right">Daily Price: {{property.daily_price}}</p>
            </div>
            </div>
        </div>
    </section>
    <aside class="property-aside">
      <label class="font-weight-bold"> Make a reservation!</label>
      <form method='POST'>
        {% csrf_token %}

        <div class="form-group">
          {{ reservationForm.name }}
        </div>
        <div class="form-group">
          {{ reservationForm.surname }}
        </div>
        <div class="form-group">
          {{ reservationForm.email }}
        </div>
        <div class="form-group">
        {{ reservationForm.start_date }}
        </div>
        <div class="form-group">
        {{ reservationForm.end_date }}
        </div>

        <button type="submit" class="btn btn-primary font-weight-bold">Make the reservation!</button>
      </form>

      {% if reservationForm.errors %}
        {% for field in reservationForm %}
            {% for error in field.errors %}
                <div class="alert alert-danger custom-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in reservationForm.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </aside>
</div>
<div>
  {% for rentableDay in rentableDays %}
    <p> {{ rentableDay.date }} </p>
  {% endfor %}
</div>

</body>
</html>
{% endblock %}