<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/alquileres/styles.css">
    <title>View Property</title>
</head>
<body>
{% extends "alquileres/navBar.html" %}

{% block content %}
{% load my_tags %}
{{ reservationForm.media }} {# Adds date-picker required JS and CSS of the reservation forms #}
<form method='POST' class="RS-container">
  {% csrf_token %}

  <div class="row">
    <section class="col-6 RS-card-box">
      <img src="{{property.image}}" class="card-img-top" alt="...">
      <div class="RS-container">
        <h4 class="RS-text-center"> <b> Available days </b> </h4>
      
        {% for rentableDay in rentableDays %}
          
          {% if forloop.counter|modulo:4 == 1 %}
            <div class="row">
          {% endif %}
          
          <div class="col-3">
            {% if rentableDay.reservation %}
              <div class="alert alert-danger">
                <input type="checkbox" enabled="false" name="chosenDays" value="{{ rentableDay.pk }}"> {{ rentableDay }} <br>
              </div>
            {% else %}
              <div class="alert alert-success">
                <input type="checkbox" name="chosenDays" value="{{ rentableDay.pk }}"> {{ rentableDay }} <br>
              </div>
            {% endif %}
          </div>

          {% if forloop.last or forloop.counter|modulo:4 == 0 %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="col-6" >

      <aside>
        <h4 style="color: white;"> <b> {{property.title}} </b> </h4>
        <p style="color: white;"> {{property.description}}</p>
        <p style="color: white;"> <b> Max pax: </b> {{property.max_pax}}</p>
        <p style="color: white;"> <b> Address: </b> {{property.address}}</p>
        <p style="color: white;"> <b> City: </b> {{property.city}}</p>
        <p style="color: white;"> <b> Daily price: </b> {{property.daily_price}}</p>

        <div>

          <div class="form-group">
            {{ reservationForm.name }}
          </div>
          <div class="form-group">
            {{ reservationForm.surname }}
          </div>
          <div class="form-group">
            {{ reservationForm.email }}
          </div>
          <div class="form-group">
          {{ reservationForm.start_date }}
          </div>
          <div class="form-group">
          {{ reservationForm.end_date }}
          </div>

          <button type="submit" class="btn btn-primary font-weight-bold">Make the reservation!</button>

          <div class="property-error-section">
            {% if reservationForm.errors %}
              {% for field in reservationForm %}
                {% for error in field.errors %}
                  <div class="alert alert-danger custom-error">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in reservationForm.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
              {% elif request.POST %}
                <div class="alert alert-success">
                  <strong>Property rented!</strong>
                </div>

            {% endif %}

          </div>
        </div>
        
      </aside>

    </section>
  </div>

</form>

</body>
</html>
{% endblock %}