<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/alquileres/styles.css">
    <title>View Property</title>
</head>
<body>
{% extends "alquileres/navBar.html" %}

{% block content %}
<div class="section-container">
    <section class="property-section">
        <div class="card mb-3">
          <img src="{{property.image}}" class="card-img-top" alt="...">
          <div class="card-body row">
            <div class="col-6">
                <h5 class="card-title">Title: {{property.title}}</h5>
                <p class="card-text">Description: {{property.description}}</p>
                <p class="card-text">Max Pax: {{property.max_pax}}</p>
            </div>
             <div class="col-6">
                <p class="text-right">Address: {{property.address}}</p>
                <p class="text-right">City: {{property.city}}</p>
                <p class="text-right">Daily Price: {{property.daily_price}}</p>
            </div>
            </div>
        </div>
    </section>
    <aside class="property-aside">
        <form>
            <label class=" font-weight-bold"> Make a reservation!</label>
          <div class="form-group">
            <input type="email" class="form-control font-weight-bold" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
            <div class="form-group">
            <input type="text" class="form-control font-weight-bold" id="exampleInputName1" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="password" class="form-control font-weight-bold" id="exampleInputPassword1" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary font-weight-bold">Rent</button>
        </form>
    </aside>
</div>
</body>
</html>
{% endblock %}